JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=
PORT=3000
NODE_ENV=development

# ================== ORACLE DB ==================
ORACLE_USER=SYS
ORACLE_PASSWORD=your_password
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREE
ORACLE_PRIVILEGE=SYSDBA

# ================== REDIS ==================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

ADMIN_EMAILS=